/* GRID INTERNA DO COMPRESSOR */
#comp {
    display: grid;
    width: 100%;
    gap: 2px;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr, 1fr, 1fr));
    animation: fadeInAnim 0.4s ease forwards;
    text-align: center;
}

/* Formatação dos dados */
.tituloData {
    color: white;
    border-radius: 15px;
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    min-height: 15px;
    min-width: 1px;
}

.valorDado {
    color: rgb(0, 255, 0);
    font-size: 1.2rem;
    font-weight: bold;
}

/* Posições dos dados com animação de fade */
#horasFuncionamento { grid-column: 2; grid-row: 1; animation: fadeInAnim 0.4s ease forwards; }
#temperatura { grid-column: 1; grid-row: 1; animation: fadeInAnim 0.4s ease forwards; }
#velocidadeMotor { grid-column: 3; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; }
#potenciaUnidade { grid-column: 3; grid-row: 1; animation: fadeInAnim 0.4s ease forwards; }
#correnteMotor1 { grid-column: 1; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; }
#correnteMotor2 { grid-column: 2; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; }
#tensaoEntradaCA { grid-column: 3; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; }
#tensaoEntradaGBT { grid-column: 1; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; }
#temperaturaGBTIZ { grid-column: 2; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; }

/* Gauges */
#gaugeDischargePressure {
    max-height: fit-content;
    max-width: fit-content;
    grid-column: 3;
    grid-row: 4;
    animation: fadeInAnim 0.4s ease forwards;
}

#gaugeSumpress {
    grid-column: 1;
    grid-row: 4;
    height: 80px;
    animation: fadeInAnim 0.4s ease forwards;
}
