/* Grid interna onde os compressores ficam */
#comp {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr, 1fr));
    animation: fadeInAnim 0.4s ease forwards;
    text-align: center;
}

/* Formatação dos dados */
.tituloData {
    color: white;
    border-radius: 15px;
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    min-height: 15px;
    min-width: 1px;
}

.valorDado {
    color: rgb(0, 255, 0);
    font-size: 1.2rem;
    font-weight: bold;
}

/* Posições dos dados com animação de fade */
#vacuoAdmissao { grid-column: 2; grid-row: 1; margin-top: 5px; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px; min-width: 360px; max-width: 380px;justify-self: center; max-height: 120px }
#pressaoEntrada { grid-column: 1; grid-row: 1; margin-top: 5px; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px; min-width: 360px;max-width: 380px;justify-self: center;max-height: 120px}
#pressaoSaidaFiltro { grid-column: 3; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px; min-width: 360px;max-width: 380px;justify-self: center;}
#pressaoDescargaAfterCooler { grid-column: 3; grid-row: 1; margin-top: 5px; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px; min-width: 360px;max-width: 380px;justify-self: center;}
#quedaPressao { grid-column: 1; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px;  min-width: 360px;max-width: 380px;justify-self: center;}
#temperaturaLiquidoArrefecimento { grid-column: 2; grid-row: 2; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px;   min-width: 360px;max-width: 380px;justify-self: center;}
#temperaturaUnidadeParafuso { grid-column: 3; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px; min-width: 360px;max-width: 380px;justify-self: center;}
#temperaturaDescargaAftercooler { grid-column: 1; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px;  min-width: 360px;max-width: 380px;justify-self: center;}
#tempoDeResfriamento { grid-column: 2; grid-row: 3; animation: fadeInAnim 0.4s ease forwards; background-color: rgb(0, 0, 0); border: 5px; border-radius: 15px;  min-width: 360px;max-width: 380px;justify-self: center;}

/* Gauges */


#gaugeMotorCurrent{
    min-width: 150px;
    grid-column: 3;
    grid-row: 4;
    animation: fadeInAnim 0.4s ease forwards;
    justify-self: center
}

#gaugeSumpress {
    min-width: 150px;
    grid-column: 1;
    grid-row: 4;
    animation: fadeInAnim 0.4s ease forwards;
    min-width: 1fr;
    justify-self: center
}

#gaugeVelocidadeMotor {
  min-width: 150px;
    grid-column: 2;
    grid-row: 4;
    animation: fadeInAnim 0.4s ease forwards;
    min-width: 1fr;
    justify-self: center
}
