body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

/* Grid Principal */
#app {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 2fr auto;
  gap: 20px;
  padding: 20px;
}

#titulo {
  grid-column: 2;
  background-color: #303030;
  color: white;
  border-radius: 15px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

/* Menu esquerdo */
.menuEsquerdo {
  background-color: #303030;
  border-radius: 15px;
  padding: 15px;
  max-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  grid-column: 1;
  grid-row: 2;
}

#menuDireito {
  background-color: #303030;
  border-radius: 15px;
  padding: 15px;
  min-height: 400px;
  min-width: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  grid-column: 3;
  grid-row: 2;
}

#botoesEstado {
  margin-top: 120%;
}

#desligar {
  margin-top: 20px;
  animation: fadeInAnim 0.4s ease forwards;
  background-image: url("../Images/noun-power-4104705.png");
  width: 70px;
  height: 70px;
  background-color: aqua;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-color: transparent;
  border-color: transparent;
  transition: 0.3s ease;
  background-color: rgb(255, 0, 0);
}

#desligar:hover {
  background-color: #7e0404; /* muda a cor ao passar o mouse */
  transform: scale(1.05); /* leve aumento */
}

#ligar {
  margin-bottom: 20px;
  grid-row: 2;
  grid-column: 2;
  animation: fadeInAnim 0.4s ease forwards;
  width: 70px;
  height: 70px;
  background-color: aqua;
  background-image: url("../Images/noun-power-4104705.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-color: transparent;
  border-color: transparent;
  transition: 0.3s ease;
  background-color: rgb(0, 255, 106);
}

#ligar:hover {
  background-color: #2f721a; /* muda a cor ao passar o mouse */
  transform: scale(1.05); /* leve aumento */
}

#userView {
  background-color: #303030;

  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
  min-height: 500px;
  max-height: 600px;
  overflow-y: auto;
  
}

#mensagem {
  max-width: 300px;
  min-width: 300px;
  min-height: 60px;
  max-height: 70px;
  padding-top: 2%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: larger;
  border-radius: 15px;
  border-color: hwb(#000000);
  border-style: solid;
  animation: fadeInAnim 0.4s ease forwards;
  text-align: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);



}

#mensagemErro {
  max-width: 300px;
  min-width: 300px;
  min-height: 60px;
  max-height: 70px;
  padding-top: 2%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: larger;
  border-radius: 15px;
  border-color: hwb(#000000);
  border-style: solid;
  animation: fadeInAnim 0.4s ease forwards;
  text-align: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);

}

#mensagemLoading {
 max-width: 300px;
  min-width: 300px;
  min-height: 60px;
  max-height: 70px;
  padding-top: 2%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: larger;
  border-radius: 15px;
  border-color: hwb(#000000);
  border-style: solid;
  animation: fadeInAnim 0.4s ease forwards;
  text-align: center;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  transform: translateY(-50%);

}

#tituloCompressor {
  color: white;
  font-size: 14px;
}

#titulStatus {
  color: white;
  font-size: 14px;
}

#imagemStatus {
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
