body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
}


#app {
    display: grid;
    grid-template-columns: 120px 1200px 100px;
    grid-template-rows: 100px 600px 100px;
    row-gap: 15px;

}

#titulo {
    text-align: center;
    background-color: #303030;
    color: white;
   grid-column: 2/3;
   grid-row: 1/3;
   margin-top: 15px;
   height: 85px;
   border-radius: 15px;
}

#compressores {

    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-image: url('../Images/noun-air-compressor-6323361.png');

}

#bottoes {

    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: 15px;
    border-style: none;
    width: 100px;
    height: 30px;
}

#userView {
    width: 900px;
    height: 500px;
    background-color: #303030;
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    height: auto;
    border-radius: 15px;
}

#clickView {
    color: white;
    grid-column: 2/3;
    grid-row: 2/3;
}