body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
}


#app {
    display: grid;
    grid-template-columns: 150px 950px 150px;
    grid-template-rows: 100px 420px 100px;
    row-gap: 15px;

}

#titulo {
    text-align: center;
    background-color: #303030;
    color: white;
   grid-column: 2/3;
   grid-row: 1/3;
   margin-top: 15px;
   height: 85px;
   border-radius: 15px;
}

.compressor {
    border-radius: 10px;
    margin-top: 5px;
    width: 80px;
    height: 80px;
    margin-left: 33px;
    margin-top: 13px;
    background-image: url('../Images/erasebg-transformed\ \(4\).png');
    background-size: contain;

}

#tituloCompressor {
    border-radius: 5px;
    font-size: 13px;
    color: white;
    width: 50x;
    height: 4px;
    margin-left: 35px;
    border-color: white;    
}

.bottoes {

    background-color: #303030;
    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: 30px;
    border-radius: 15px;
    border-style: none;
    width: 140px;
    height: 350px;
}

#userView {
    width: 200px;
    height: 400px;
    background-color: #303030;
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
    height: auto;
    border-radius: 15px;
}




/*ESTILIZAÇÃO DOS COMPONENTES DOS COMPRESSORES*/

#comp {
    width: 950px;
    height: 400px;
    display: grid;
    grid-template-columns: 237px 237px 237px 237px;
    grid-template-rows: 70px 70x 70px 70px 70px;
}


#tituloComp {

    margin-left: 30px;
    grid-column: 2/4;
    grid-row: 1/5;

}

#tituloCompt2 {

    grid-column: 3/4;
    grid-row: 1/5;
    margin-right: 30px;
    
}

 #gaugeDischargePressure {
    background-color: rgb(255, 0, 0);
    width: 237px;
    height: 70x;
    grid-column: 1/4;
    grid-row: 5/5;
 }



 #gaugeSumpress {
    width: 237px;
    height: 70x;
    grid-row: 5/5;
    grid-column: 2/4;

 }

