/* ============================
   CONFIGURAÇÃO GERAL DA PÁGINA
   ============================ */
body {
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

/* GRID PRINCIPAL — versão híbrida adaptável */
#app {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-template-rows: auto 2fr;         
    gap: 20px;
    padding: 20px;
}


/* ============================
   TÍTULO SUPERIOR
   ============================ */
#titulo {
    grid-column: 2;
    background-color: #303030;
    color: white;
    border-radius: 15px;
    max-height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: bold;
}


/* ============================
   MENU LATERAL
   ============================ */
.menuEsquerdo {
    background-color: #303030;
    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;

    gap: 15px;

    grid-column: 1; 
    grid-row: 2;    
    margin-top: 20px;
}

/* Nome dos compressores */
#tituloCompressor {
    color: white;
    font-size: 14px;
}

#menuDireito {

    background-color: #303030;
    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;

    gap: 15px;

    grid-column: 3;
    grid-row: 2;    

}

/* Animação de Slide dos Comp */

.flagComp1 {
    
    grid-row: 2;    
    grid-column: 2; 
    background-color: aqua;
    animation: fadeInAnim 0.4s ease forwards;

}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flagComp2 {
    
    grid-row: 2;    
    grid-column: 2; 
    background-color: aqua;
    animation: fadeInAnim 0.4s ease forwards;

}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flagComp3 {
    
    grid-row: 2;    
    grid-column: 2; 
    background-color: aqua;
    animation: fadeInAnim 0.4s ease forwards;

}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* ============================
   ÍCONES DOS COMPRESSORES
   ============================ */

.compresso1,
.compressor2,
.compressor3 {
    width: 60px;
    height: 60px;

    background-image: url('../Images/erasebg-transformed (4).png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: none;

    transition: 0.3s ease;
}

/* Hover dos botoes */
.compresso1:hover,
.compressor2:hover,
.compressor3:hover {
    transform: translateY(-3px);
    filter: drop-shadow(0 0 5px rgba(10, 201, 0, 0.3));
}


/* ============================
   ÁREA PRINCIPAL
   ============================ */
#userView {
    background-color: #303030;
    border-radius: 15px;

    grid-column: 2; /* área central */
    grid-row: 2;

    padding: 20px;
    height: 120%;
    overflow: auto;
}


/* ============================
   GRID INTERNA DO COMPRESSOR
   ============================ */

#comp {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr,1fr)); ;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr,1fr));
}



#gaugeDischargePressure {
    max-height: fit-content;
    max-width: fit-content;
    grid-column: 3;
    grid-row: 3;
    background-color: white;
}

#gaugeSumpress {
    grid-column:1;
    grid-row: 3;
    height: 80px;
}
