#compressor1 {
    background-image: url('../Images/download\ \(1\).jpg');
    background-color: transparent;
    width: 150px;
    height: 150px;
        border-color: transparent;
}

#compressor2 {
    background-image: url('../Images/download\ \(1\).jpg');
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-color: transparent;
}